@page "/estimator"
<h1>Estimator</h1>

<h5>Please fill the from below:</h5>
<p>The form must be filled with the information about the house you want to evaluate.</p>

@if (Prediction != null) {
<h2 class="bg-warning">@Prediction</h2>
<hr />
}

<EditForm Model="@house" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            No. of floors:<br>
            <InputNumber @bind-Value="house.Floors" />
        </label>
    </p>
    <p>
        <label>
            Condition:<br>
            <InputNumber @bind-Value="house.Condition" />

        </label>
    </p>
    <p>
        <label>
            Grade:<br>
            <InputNumber @bind-Value="house.Grade" />
        </label>
    </p>

    <p style="font-size:small">Note that the price provided by us is just an estimation and the real value may varry in your location.</p>
    <button @onclick="Submit" class="btn btn-primary">Submit</button>
    <button @onclick="Change" class="btn btn-primary">Change</button>
</EditForm>

@*floors,condition,grade*@


@code {

    @using System.Net.Http
    @inject HttpClient Http

    public string Prediction{get; set; }

    private HouseModel house = new HouseModel();

    private async Task Submit() {

        var response = await Http.PostAsJsonAsync("https://localhost:4300/HouseEstimator/estimate", house);
        String responsestring;
        responsestring = await response.Content.ReadAsStringAsync();
        Prediction = "The estimated value of your property is " + responsestring;

    }

    public void Change()
    {
        Prediction = "Something";
    }



    public void HandleValidSubmit()
    {
    }

}



